<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="todo-bloc">
        <h1> <%= currentDay %></h1>

        <ul>
            <% if(todos.length > 0){  %>
                <% todos.forEach( todo => {  %> 
                    <li><%= todo %></li>
                <% }) %>  
            <% } %>
        </ul>

        <form action="/" method="post">
            <input type="text" name="newTodo" placeholder="add a new todo"> 
            <button class="btn">&#43;</button>
        </form>
    </div>
</body>
</html>