*, *::before, *::after {
    padding: 0;
    margin: O;
    box-sizing: border-box;
}


html {
    font-size: 100%;
}



ul {
    list-style-type: none;
}

body {
    background-color:lavender;   
}


.view {
    position: relative;
    left: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    place-items: center;
    padding-top: 80px;
    gap: 30px;
}

.todo-bloc {
    max-width: 800px;
    min-width: 500px;
    
}

h1 {
    background-color: cornflowerblue;
    padding: 8px 15px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
    color: lightcyan;

}

ul {
    margin: 0;
}


.item {
    padding: 15px 5px;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.item:not(.item:first-child) {
    border-top: 1px solid cornflowerblue;
}

form input {
    padding: 12px 10px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    width: 100%;
}

form {
    display: flex;
    align-items: center;
   
}

form input:focus {
    border-bottom: 2px solid cornflowerblue;

}

.btn {
    outline: none;
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color:cornflowerblue;
    cursor: pointer;
    color: lightcyan;
    font-size: 1.1rem;
    font-weight: bold;
}


.aside {
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightsteelblue;
    border-right: 10px solid cornflowerblue;
    text-align: center;
}

.aside h3 {
    font-size: 1.4rem;

}

.categories {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    padding: 5px;
}
.categories li{
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;

}

.del {
    background-color: cornflowerblue;
    padding: 8px;
    color: lavender;
}

.cat-text {
    padding: 6px;
    border: 1px solid cornflowerblue;

}

form.cat-form {
    max-width: 800px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: hsla(214, 41%, 78%, .8)
    
}

.cat-btn {
    padding: 13px 8px;
    outline: none;
    border: none;
    background-color: cornflowerblue;
    color: lavender;
    font-size: 1.1rem;
    cursor: pointer;
}

.trash {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    place-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    color: lavender;
    position: absolute;
    right: 5px;
    top: 13p;
    visibility: hidden;
}

.item:hover .trash {
    visibility: visible;
}