:root {
    --primary-color: cornflowerblue;
    --secondary-color: lightsteelblue;
    --body-color: lavender;
    --nav-color: hsla(219, 79%, 66%, .1);
    --input-color: hsla(214, 41%, 78%, .8)
}



*, *::before, *::after {
    padding: 0;
    margin: O;
    box-sizing: border-box;
}


html {
    font-size: 100%;
}



ul {
    list-style-type: none;
}

body {
    background-color: var(--body-color);   
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

body.crimson {
    --primary-color: hsl(348, 83%, 47%);
    --secondary-color: hsla(348, 83%, 47%, .3);
    --body-color: lightpink;
    --nav-color: hsla(348, 83%, 47%, .1);
    --input-color: hsla(348, 83%, 47%, .2);
}

body.black {
    --primary-color: black;
    --secondary-color: rgb(27, 26, 26);
    --body-color: rgb(77, 71, 71);
    --input-color: rgba(90, 82, 82, 0.6);
    --nav-color: rgba(41, 41, 41, .3);
    color: rgb(212, 205, 205);
   
}

body.black a {
    color: rgb(212, 205, 205);
}


.view {
    position: relative;
    left: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    place-items: center;
    padding-top: 180px;
    gap: 30px;
}

nav {
    width: 75%;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 30px;
    padding-left: 100px;
    position: fixed;
    background-color: var(--nav-color);
    box-shadow: 0px 1px 1px 1px hsla(21, 9%, 7%, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:0;
}
nav h3 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
}
.todo-bloc {
    max-width: 800px;
    min-width: 500px;
    
}

/* colors styling */


.color-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 0 3px;
    cursor: pointer;

}

.color-btn:first-child {
    background-color: cornflowerblue;
    color: light

}
.color-btn:nth-child(2) {
    background-color: crimson;
    
}

.color-btn:last-child {
    background-color: black;
    
}

h1 {
    background-color: var(--primary-color);
    padding: 8px 15px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
    color: var(--body-color);
    font-size: 1.8rem;

}

ul {
    margin: 0;
}


.item {
    padding: 15px 5px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.item:not(.item:first-child) {
    border-top: 1px solid var(--primary-color);
}

form input {
    padding: 12px 10px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    width: 100%;
}

form {
    display: flex;
    align-items: center;
   
}

form input:focus {
    border-bottom: 2px solid var(--primary-color);

}

.btn {
    outline: none;
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color:var(--primary-color);
    cursor: pointer;
    color: var(--body-color);
    font-size: 1.1rem;
    font-weight: bold;
}


.aside {
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    border-right: 10px solid var(--primary-color);
    text-align: center;
}

.aside h3 {
    font-size: 1.4rem;

}

.categories {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    padding: 5px;
    
}
.categories li{
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.categories a {
    text-decoration: none;
    color: black;
    display: inline-block;
    

}

.delete-link {
    position: relative;
    bottom: 1px;
}



.del {
    background-color:var(--primary-color);
    padding: 7px;
    color: var(--body-color);
}

.del:hover {
    color: red;
}

.cat-text {
    padding: 6px;
    border: 1px solid var(--primary-color);

}

form.cat-form {
    max-width: 800px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: var(--input-color);
    
}

.cat-btn {
    padding: 13px 8px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--body-color);;
    font-size: 1.1rem;
    cursor: pointer;
}

.item > a {
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 13p;
    visibility: hidden;
}
.trash {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    place-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    color: var(--body-color);
}

.item:hover .trash {
    visibility: visible;
}

.go-home-block {
    position: fixed;
    bottom: 50px;
    right: 25px;
}


.homeBtn {
    padding: 10px 12px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--body-color);
    text-decoration: none;
}
.mobile-home-btn {
    display: none;
}
footer.mobile {
    display: none;
}


@media (max-width: 545px){
    .aside {
        display: none;
    }

    nav {
        width: 100%;
        padding-left: 30px;
        flex-direction: row-reverse;
    }

    .view {
        position: relative;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: inherit;
        place-items: center;
        padding-top: 200px;
        gap: 30px;
    }

    .todo-bloc {
        max-width: 500px;
        min-width: 300px;
        
    }

    form.cat-form {
        max-width: 90%;
        min-width: 340px;
        width: 90%;
    }

    .color-btn {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin: 0 5px;
    
    }

    .go-home-block {
        position: fixed;
        bottom: 40px;
        right: 6px;
    }
    
    
    .homeBtn {
        display: none;
    }
    .mobile-home-btn {
        display: block;
        font-size: 20px;
        padding: 0 4px;
        color: var(--body-color);
        background-color: var(--primary-color);
        
    }


    footer.mobile {
        display: block;
        text-align: center;
        background-color: var(--primary-color);
        padding: 4px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}